<h1>Burgers!</h1>

<h2>Delicious Burgers</h2>

<ul>
  {{#each burgers}}
    <li>{{this.burger_name}}</li>
  {{/each}}
</ul>

<h2>Burgers in my Tummy</h2>

<ul>
  {{#each burgers}}
    {{#if delicious}}
      {{> burger/burgers-block tummy=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Cat</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burger">Burger Name:</label>
    <input type="text" id="burger" name="name">
  </div>

  <div class="form-group">
    <label for="veggie">Veggie</label><br>
    <input type="radio" name="veggie" value="1" checked> Veggie!<br>
    <input type="radio" name="veggie" value="0"> Awake
  </div>

  <button type="submit">Add Burger</button>
</form>
